body {
    background-color: rgb(214, 220, 255);
}

main {
    padding-left: 80px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }

    .sidenav {
        width: 300px;
        background-color: black;
    }
} 

#kuantitas {
    display: none;
}

#edit-kuantitas {
    display: none;
}

#main-card {
    margin-top: 2vw;
    margin-left: 4vw;
    width: 85vw;
}

.card, .card-action {
    border-radius: 10px;
}

.card-header {
    padding: 15px;
    height: 100px;
}

.card-header > i {
    font-size: 30px;
}

.sidenav {
    width: 80px;
    overflow: hidden;
    transition: width .3s;
}

.sidenav li > a, .sidenav li a > i {
    color: rgb(216, 216, 216);
}

.sidenav:hover {
    width: 300px;
}

.hidden {
    display: none;
}

.active {
    border-left: 5px solid white;
}

.activated > a, .active a > i {
    color: white !important;
}

.card-icons {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* margin-left: 50px; */
}